.tinymce-content {
  ul {
    font-size: 20px;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }

  li::marker {
    color: red;
    font-size: 30px;
  }
}
