@use '_variables' as *;

.post-container {
  @include responsive(lt-lg) {
    min-height: calc(100vh - 8rem);
  }

  @include responsive(gt-lg) {
    min-height: calc(100vh - 8rem);
  }
}

// Blog post styles
.blog-post {
  padding: 0.5rem 1rem 0 1rem;

  &:first-child {
    padding-top: 1rem;
  }

  .post-body {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--border-color);
  }

  &:hover {
    background: var(--light-bg-color);
  }

  .post-title {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 0;
      width: 0;
      transition: all $duration ease-in-out;
    }

    &:hover::after {
      background: var(--primary-color);
      width: 100%;
    }

    @include hover-effect {
      color: var(--primary-color);
    }
  }

  .post-title {
    transition: all $duration ease;
    font-size: 1.2rem;
    line-height: $line-height-normal;
    letter-spacing: 2px;
    color: var(--text-color);
    font-weight: normal;
    margin: 0;
  }

  .post-description {
    cursor: pointer;
    transition: all $duration ease;
    color: var(--text-color);
    overflow-wrap: break-word;
    font-weight: 400;
    letter-spacing: 1px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    @include responsive(lt-sm) {
      font-size: 0.9rem;
      gap: 1rem;
    }
  }

  .post-top {
    color: var(--primary-color);
  }

  .post-meta {
    display: flex;
    align-items: flex-end;
    font-family: Lora, 'Times New Roman', serif;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 300;
  }
}
