@use '_variables' as *;

.text-gradient {
  @include text-gradient;
}

.border-color {
  border-color: var(--border-color);
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.6rem 0;
  line-height: $line-height-normal;
  font-family: $font-family;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

h6 {
  font-size: 0.9rem;
  font-weight: 500;
}

.error-message {
  color: var(--error-color);
}

.fade-enter-active,
.fade-leave-active {
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-in-enter-active {
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.fade-in-enter-from {
  opacity: 0;
}

.like {
  animation: like 0.2s ease-in-out forwards;
}

@keyframes like {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    color: var(--primary-color);
    transform: scale(1);
  }
}
