@use '_variables' as *;

.text-gradient {
  @include text-gradient;
}

.border-color {
  border-color: var(--border-color);
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $line-height-normal;
  font-family: $font-family;
  font-weight: 700;
  margin: 1.4rem 0 0.8rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.85rem;
}

.error-message {
  color: var(--error-color);
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  .tag {
    cursor: pointer;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    @include hover-effect {
      border-color: transparent;
      background-color: var(--primary-color);
      color: white;
    }
    border-radius: 9999px;
    font-size: 0.8rem;
  }
}

.like {
  animation: like 0.2s ease-in-out forwards;
}

@keyframes like {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    color: var(--primary-color);
    transform: scale(1);
  }
}
