@use '_variables' as *;

.form-group {
  min-height: 60px;
}

label {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  min-height: 46px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color $duration;
  background-color: var(--bg-color);
}

input:focus {
  outline: none;
  border-color: var(--primary-color);
}

textarea {
  width: 100%;
  padding: 10px;
  min-height: 46px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color $duration;
  background-color: var(--bg-color);
}

textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.code-input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.code-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
