@use '_variables' as *;
@use 'themes' as *;
@use 'layout' as *;
@use 'home' as *;
@use 'global' as *;
@use 'highlight' as *;

html {
  font-family: $font-family;
  background-color: var(--bg-color);
}

body {
  color: var(--text-color);
  margin: 0 !important;
  height: 100vh;
  overflow: auto;
}
