@use '_variables' as *;
@use 'themes' as *;
@use 'layout' as *;
@use 'blog' as *;
@use 'blog-post' as *;
@use 'form' as *;
@use 'button' as *;
@use 'transition' as *;

html {
  font-size: $font-size;
  font-family: $font-family;
  background-color: var(--container-color);
}

body {
  color: var(--text-color);
  margin: 0 auto !important;
  max-width: $app-max-width;
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 1em;
}
