@use '_variables' as *;

// Layout
.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: $max-width;
  width: 100%;

  @include responsive(lt-sm) {
    gap: 1rem;
    flex-direction: column;
  }

  @include responsive(lt-md) {
    gap: 1rem;
    flex-direction: column;
  }

  @include responsive(lt-lg) {
    padding: 3rem 3rem 2rem 3rem;
    gap: 4rem;
  }

  @include responsive(gt-lg) {
    padding: 3rem 5rem 2rem 5rem;
    gap: 10rem;
  }

  .page-main {
    flex: 1;
    min-width: 0;
    min-height: calc(100vh - 5rem);
  }
}

.blank-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  a {
    color: var(--text-color);

    @include hover-effect {
      color: var(--primary-color);
    }
  }

  .active {
    color: var(--primary-color);
  }
}

.login-icon {
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block !important;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.75rem;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  color: var(--nav-text-color) !important;
  background-color: var(--primary-color);
  &:hover {
    background-color: var(--secondary-color);
  }
}

// Sidebar styles
.sidebar {
  position: fixed;
  height: calc(100vh - 5rem);
  overflow: auto;

  .blog-card {
    padding: 1rem 0.3rem;
    border-bottom: 1px solid var(--border-color);

    @include responsive(lt-md) {
      padding: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  .profile {
    text-align: left;

    .avatar {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      overflow: hidden;
      background-color: var(--border-color);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      color: var(--text-light-color);
      @include hover-effect {
        color: var(--primary-color);
      }
    }
  }

  .friends {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      max-height: 8rem;
      overflow: auto;

      li {
        &:last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: underline;
          color: var(--text-light-color);
          @include hover-effect {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    /* Chrome */
    display: none;
  }
}
