@use 'themes' as *;
@use 'global' as *;

.form-group {
  min-height: 60px;
}

label {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  min-height: 46px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  @include themed() {
    background-color: themed('bg');
  }
}

input:focus {
  outline: none;
  @include themed() {
    border-color: themed('primary');
  }
}

textarea {
  width: 100%;
  padding: 10px;
  min-height: 46px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  @include themed() {
    background-color: themed('bg');
  }
}

textarea:focus {
  outline: none;
  @include themed() {
    border-color: themed('primary');
  }
}

button {
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  @include themed() {
    color: themed('nav-text');
    background-color: themed('primary');
  }
}

button:hover {
  @include themed() {
    background-color: themed('secondary');
  }
}

.code-input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.code-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.tab {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  @include themed() {
    border-bottom: 1px solid themed('border');
  }

  .active {
    @include themed() {
      color: themed('primary') !important;
    }
  }

  .tab-item {
    border: none;
    background: none;
    cursor: pointer;
    @include themed() {
      color: themed('text-light');

      &:hover {
        color: themed('primary');
      }
    }
  }
}
