@use "themes" as *;
@use "global" as *;
@use "home" as *;
@use "layout" as *;

body {
  font-family: $font-family;
  @include themed() {
    color: themed("text");
    background-color: themed("bg");
  }
}
